<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10">
        <a class="text-blue-500 inline-block mb-10" href="/">Go back to Home</a>
        <h1 class="text-3xl tracking-tighter">Edit Task: <%= filename %></h1>
        <form action="/task/<%= filename %>?_method=PUT" method="POST" class="p-10 text-white">
            <input type="text" name="newTitle" value="<%= filename.split('.txt')[0] %>" class="block px-5 py-2 w-full rounded-md outline-none bg-zinc-800 text-white" required>
            <textarea name="details" class="block px-5 py-2 w-full rounded-md outline-none mt-2 resize-none bg-zinc-800 text-white" required><%= content %></textarea>
            <input type="submit" value="Update Task" class=" transform hover:scale-110 transition-transform duration-200 mt-5 bg-blue-600 px-5 py-2 rounded-md cursor-pointer">
        </form>
    </div>
</body>
</html>
